[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
